.calculadora_container {
    background: rgb(209,237,12);
    background: linear-gradient(0deg, rgba(209,237,12,1) 0%, 
        rgba(208,183,38,1) 35%, rgba(255,89,0,0.87718837535014) 100%);
    padding: 15px 5px 5px 5px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 5px;
}

.input_container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.display {
    width: 70%;
    height: 35px;
    font-size: 30px;
    font-family: verdana; 
}

.botoes-container {
    margin-top: 5px;
    width: 100%;
}

.botoes-container button {
    width: 85px;
    height: 80px;
    margin: 3px;
    font-size: larger;
}

.botoes-container .igual {
    width: 175px;
    height: 80px;
    margin: 3px;
    font-size: larger;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}